<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>DashBoard</title>
  </head>
  <body>
    <div class="container">
      <!-------navbar------------>
      <%- include('layouts/navbar'); %>
      <!-------sidebar------------>
      <%- include('layouts/sidebar'); %>
      <!--Main Content with chart anda card-->
      <div class="main">
        <div class="cards">
          <div class="card">
            <div class="card-content">
              <div class="number">1217</div>
              <div class="card-name">Student</div>
            </div>
            <div class="icon-box">
              <i class="fas fa-users"></i>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="number">1217</div>
              <div class="card-name">Student</div>
            </div>
            <div class="icon-box">
              <i class="fas fa-users"></i>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="number">1217</div>
              <div class="card-name">Student</div>
            </div>
            <div class="icon-box">
              <i class="fas fa-users"></i>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="number">1217</div>
              <div class="card-name">Student</div>
            </div>
            <div class="icon-box">
              <i class="fas fa-users"></i>
            </div>
          </div>
        </div>
        <div class="charts">
          <div class="chart">
            <h2>Earning (past 12 month)</h2>
            <div>
              <canvas id="lineChart"></canvas>
            </div>
          </div>
          <div class="chart" id="doughnut-chart">
            <h2>Employee</h2>
            <div>
              <canvas id="doughnut"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="/chart.js"></script>
    <script src="/chart2.js"></script>
  </body>
</html>
