<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>DashBoard</title>
  </head>
  <body>
    <div class="container">
      <!-------navbar------------>
      <div class="topbar">
        <div class="logo">
          <h2>Brand.</h2>
        </div>
        <div class="search">
          <input type="text" id="search" placeholder="search here" />
          <label for="search"><i class="fas fa-search"></i></label>
        </div>
        <i class="fas fa-bell"></i>
        <div class="user">
          <img src="user.png" alt="image" />
        </div>
      </div>
      <!-------sidebar------------>
      <div class="sidebar">
        <ul>
          <li>
            <a href="#">
              <i class="fas fa-th-large"></i>
              <div>DashBoard</div>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-user-graduate"></i>
              <div>Expanses</div>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-money-check-alt"></i>
              <div>Income</div>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-wallet"></i>
              <div>Wallet</div>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-users"></i>
              <div>Profile</div>
            </a>
          </li>
        </ul>
      </div>
      <!--Main Content with chart anda card-->
      <div class="main">
        <div class="cards">
          <div class="card">
            <div class="card-content">
              <div class="number">1217</div>
              <div class="card-name">Student</div>
            </div>
            <div class="icon-box">
              <i class="fas fa-users"></i>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="number">1217</div>
              <div class="card-name">Student</div>
            </div>
            <div class="icon-box">
              <i class="fas fa-users"></i>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="number">1217</div>
              <div class="card-name">Student</div>
            </div>
            <div class="icon-box">
              <i class="fas fa-users"></i>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="number">1217</div>
              <div class="card-name">Student</div>
            </div>
            <div class="icon-box">
              <i class="fas fa-users"></i>
            </div>
          </div>
        </div>
        <div class="charts">
          <div class="chart">
            <h2>Earning (past 12 month)</h2>
          </div>
          <div class="chart doughnut-chart">
            <h2>Employee</h2>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
