<!Doctype html>
<html>
    <head>
        <%- include('./layouts/head') %>
    </head>
    <body>
        <header>
            <%- include('./layouts/navbar') %>
        </header>
        <main>
            <h1 class="text-primary mt-5 text-center">Welcome</h1>
        </main>
    </body>
    <footer>
        <%- include('./layouts/footer') %>
    </footer>
</html>