<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>navbar</title>
  </head>
  <body>
    <div class="topbar">
      <div class="logo">
        <h2>Brand.</h2>
      </div>
      <div class="search">
        <input type="text" id="search" placeholder="search here" />
        <label for="search"><i class="fas fa-search"></i></label>
      </div>
      <a href="/logout" ><i class="fas fa-sign-out-alt"></i></a>
      <div class="user">
        <img src="user.png" alt="image" />
        
        
      </div>
    </div>
  </body>
</html>
