<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
  integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/css/style.css" />
  <title>sidebar</title>
</head>
<body>
  <!-------sidebar------------>
  <div class="sidebar">
    <ul>
      <li>
        <a href="/dashboard">
          <i class="fas fa-th-large"></i>
          <div>DashBoard</div>
        </a>
      </li>
      <li>
        <a href="/dashboard/expanse">
          <i class="fas fa-user-graduate"></i>
          <div>Expanses</div>
        </a>
      </li>
      <li>
        <a href="/dashboard/income">
          <i class="fas fa-money-check-alt"></i>
          <div>Income</div>
        </a>
      </li>
      <li>
        <a href="/dashboard/wallet">
          <i class="fas fa-wallet"></i>
          <div>Wallet</div>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-users"></i>
          <div>Profile</div>
        </a>
      </li>
    </ul>
  </div>
  
</body>
</html>